h1 {
    color: rgb(137, 207, 231);
    font-family: "Poppins";
    font-weight: 900;
    display: flex;
    min-width: 300px;
    margin-left: 10px;
}

header {
    display: inline-flex;
    background-color: 
    #6482ad;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    margin: 0;
    position: fixed;
    border-bottom: 5px white solid;
}

nav {
    color: aqua;
    display: inline-flex;
}

nav a {
    color: rgb(137, 207, 231);
    margin: 5px;
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
    font-family: "Poppins";
    border-radius: 30px;
}


nav a:hover{
    background-color: rgba(137, 208, 231, 0.587);
}

nav a:active{
    background-color: white;

}


img {
    height: 70vw;
    width: 90%;
    display: flex;
    margin: 20px auto;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 70px;
    border: white dotted 5px;
    flex-grow: 2;
    min-width: 800px;
    background-size: 100% auto;
    max-height: 800px;
}

body {
    margin: 0;
    background-color: 
    #7fa1c3;
    font-family: "Poppins";
}

#DESTINATIONS {
    background-color: #6482ad;
    align-items: center;
    display: flex;
    font-family: "Poppins";
    justify-content: center;
    color: #f5eded
}

#reviews {
    padding: 20px;
    color: #f5eded;
    background-color: #e7eaee42;
    border-radius: 30px;
    margin: 20px 20px 10px 20px;
}

footer{
    display: flex;
    margin: 20px 0px 0px 0px;
    text-decoration: underline;
    color: rgb(255, 255, 255);
    background-color: #6482ad;
    height: 50px;
    align-items: center;
    justify-content: center;
}
