h1 {
    color: white;
    font-family: "Poppins";
    font-weight: 900;
    display: flex;
    min-width: 300px;
    margin-left: 10px;
}

.index_heading {
    color: black;
}

header {
    display: inline-flex;
    background-color: #6482ad;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    margin: 0;
    position: fixed;
    border-bottom: 5px white solid;
    z-index:10;
}

nav {
    color: black;
    display: inline-flex;
    z-index: 10;
}

nav a, #DEST {
    color: rgb(255, 255, 255);
    margin: 0px;
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
    font-family: "Poppins";
    border-radius: 10px;
}

nav a:hover{
    background-color: rgba(137, 208, 231, 0.587);
    
}

#DEST:hover{
    background-color: rgba(216, 216, 216, 0.587);
    
}

#Mountain {
    height: 70vw;
    width: 90%;
    display: flex;
    margin: 20px auto;
    display: block;
    border-left: 5px white solid;
    border-right: 5px white solid;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 70px;
    border-bottom: 5px white solid;
    flex-grow: 2;
    min-width: 800px;
    background-size: 100% auto;
    max-height: 700px;
}

body {
    margin: 0;
    background-color: #7fa1c3;
    font-family: "Poppins";
}

#DESTINATIONS {
    background-color: #ffffff;
    align-items: center;
    display: flex;
    font-family: "Poppins";
    justify-content: center;
    color: #000;
    border: 10px #7fa1c3 solid;
    border-radius: 20px;
    margin: 30px;
}

#reviews {
    padding: 20px;
    color: black;
    background-color: white;
    border-radius: 20px;
    margin: 30px;
    
}

footer {
    text-align: center;
    text-decoration: underline;
    color: 0;
    background-color: white;

}

footer p {
    margin: 0px;
    padding: 20px;
}

#biography{
    background-color: #6482ad;
    color: #f5eded;
    font-family: "Poppins";
    padding: 20px;
    margin: 20px;
}

.about{
    height: 100%;
    width: 90%;
    display: flex;
    margin: 20px auto;
    display: block;
    border-left: 5px white dotted;
    border-right: 5px white dotted;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 70px;
    border-bottom: 5px white dotted;
    border-top: 5px white dotted;
    flex-grow: 2;
    background-size: 100% auto;
    z-index: 1;
}
.medal{
    height: 100%;
    width: 70%;
    display: flex;
    margin: 20px auto;
    display: block;
    border-left: 5px white dotted;
    border-right: 5px white dotted;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 70px;
    border-bottom: 5px white dotted;
    border-top: 5px white dotted;
    min-width: 800px;
    background-size: 100% auto;
    z-index: 1;
}

#about-indent{
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid white;
    position: static;
    padding-top: 100px;
}


.about_heading {
    margin-left: 100px;
}

#DEST {
    color: black;
    text-decoration: none;
    
}

#title_card {
    display: flex;
    margin: 0px auto;
    margin-top: 100px;
    background-color: white;
    height: 100px;
    align-items: center;
    justify-content: center;
}

#title_dest {
    color: black;
    font-size: 50px;
}



.destination {
    display: flex;
    margin: 0px auto;
    margin-top: 20px;
    background-color: white;
    height: 200px;
    width: 80%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.dest_img {
    height: 70%;
    width: 90%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.dest_title {
    font-size: 1em;
    height: 20px;
}

.destination-img-sec {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 100%;

}
 .dest_description {
    width: 50%;
    flex-wrap: wrap;
    text-wrap: wrap;
    background-color: green;
 }

 .p {
    text-wrap: wrap;
    flex-wrap: wrap;
    white-space: freeline;
 }
